**/bak/**
**/bin/**
**/config/**
**/dist/**
**/doc/**
**/node_modules/**
**/public/**
**/report/**
**/server/**
**/lib/**
**/__test__/**


# 忽略文件
**/webpack.config*.js
**/tsconfig.json
**/.eslintrc.js
**/eslint.config.js
**/jest.config.js
**/no-secret-info.js