**/bak/**
**/bin/**
**/config/**
**/dist/**
**/doc/**
**/node_modules/**
**/public/**
**/report/**
**/server/**
**/lib/**
**/__tests__/**
**/zbt-cli/__test__/**
**/eslint-plugin/test/**
**/eslint-plugin/rules/**

# 忽略文件
**/webpack.config*.js
**/tsconfig.json
**/.eslintrc.js
**/eslint.config.js
**/jest.config.js